body {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 0;
  font-family: Calibri, sans-serif;
  
}

div {
  font-size: 1.1em;
  color: black;

}

#map {
  /* position: absolute; */
  width: 98vw;
  height: 75vh;
}

#map2 {

  width: 98vw;
  height: 85vh;
}
h1{
  background-color: green;
  margin-right:20%;
  border-radius: 8px;
}
p1{
  font-size: 20;
}
h1{
  font-size:30;
}
a:link {
  color: white;
  background-color: transparent;
}
a:visited {
  color: green;
  background-color: transparent;
}

